%body
  %header
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-left{:href => "/"}
            %img{:alt => "SuppleBox", :src => "/images/logo.png"}/
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          